@import "tailwindcss";

@layer base {
  body {
    @apply bg-white;
  }
}

@layer components {
  @media (max-width: 767px) {
    .responsive-table thead {
      @apply hidden;
    }
    .responsive-table tbody, .responsive-table tr {
      @apply block w-full;
    }
    .responsive-table tr {
      @apply mb-4 rounded-md border border-gray-200 p-4;
    }
    .responsive-table td {
      @apply block text-right;
    }
    .responsive-table td:last-child {
      @apply mt-4 pt-4 border-t border-gray-200;
    }
    .responsive-table td::before {
      content: attr(data-label);
      @apply float-left font-semibold text-gray-700;
    }
    .responsive-table td .flex {
      @apply justify-end;
    }
  }
}
