
@import "tailwindcss";

@layer base {
  body {
    @apply bg-white;
  }
}

@layer utilities {
  @keyframes fall {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }

  .animate-fall {
    animation: fall linear infinite;
  }
}

